.footer__copyright {
  font-size: 18px;
  line-height: 21.8px;
  font-weight: 400;
  margin: 0px;
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 16.94px;
  }
}
