.popup__close {
  width: 32px;
  height: 32px;
  background: url('../../../images/close-btn.svg') center no-repeat;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: -40px;
  right: -40px;
}
.popup__close:hover {
  opacity: 0.6;
}
@media screen and (max-width: 767px) {
  .popup__close {
    background: url('../../../images/close-btn-mob.svg') center no-repeat;
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
