.popup__name {
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 400;
  width: 358px;
  height: 27px;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  margin: 54px auto 0px;
}
@media screen and (max-width: 767px) {
  .popup__name {
    width: 238px;
    margin: 75px auto 0px;
  }
}
