.profile__edit-btn {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin: 15px 0 0 18px;
  background: no-repeat center/10px 10px url('../../../images/edit-btn.png');
  border: 1px solid rgba(255, 255, 255, 1);
}
.profile__edit-btn:hover {
  opacity: 0.6;
  transition: 0.5s;
}
@media screen and (max-width: 767px) {
  .profile__edit-btn {
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
    margin: 8px 0 0 10px;
  }
}
